@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #aa2e25;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: #e8e8e8;
}

a,
a:visited,
a:hover {
  text-decoration: none !important;
  color: unset !important;
}
